[Desktop Entry]
Type=Application
Name=hh-cache-sim
GenericName=Cache simlator
Comment=Harris and Harris cache simulator
Icon=hh-cache-sim
Terminal=false
Categories=Utility;
Exec=hh-cache-sim
